.media-detail{
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow: hidden;
  position: relative;

  &__background {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(20, 11, 37, 0.6) 0%, rgba(20, 11, 37, 0.9) 75%, rgba(20, 11, 37, 1) 100%);
    z-index: 1;
    overflow: hidden;

    &-logo{
      width: 100%;
      max-width: 15rem;
      margin-left: 1.2rem;
    }
  }
}

.navigation-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;

  &__button {
    background-color: #2a2a2a;
    color: white;
    border: none;
    font-family: "Bebas Neue", serif;
    padding: 12px 0;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 5rem;

    .active {
      background-color: white;
      color: black;
    }

    &:hover {
      background-color: #3a3a3a;
      transform: translateY(-2px);
    }
  }
}