@use '../variables' as *;
@use '../mixins' as *;

//navbar//
.top-bar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(20, 11, 37);
  height: 10vh;

  &__container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.navbar {
  display: flex;
  gap: 1rem;
  font-size: 16px;
  font-family: 'Bebas Neue', serif;

  a {
    color: $text-light;
    text-decoration: none;
    font-weight: 500;
    transition: color $transition-fast;

    &:hover,
    &[aria-current="page"] {
      color: $accent;
    }
  }

}

